#image {
    color: red;
    font-size: 75px;
}

#link {
    float: right;
    color: blue;
    margin-right: 100px;
    text-decoration: underline;
    font-size: 25px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

#the_select{
margin-left: 200px;

}

#top5 {
    margin-left: 200px;
    color: red;
}

#temperature {
    margin-right: 100px;
}

#map {
    height: 500px;
    width: 500px;
    margin-left: 200px;
    }

body {
    
        background-image: url("../Images/silhouette.jpg");
        background-color: rgb(176, 190, 228);   
        background-position: right;
        
}
